[submodule "tests/vagrant-dap"]
	path = tests/vagrant-dap
	url = https://github.com/sepulworld/vagrant-ldap
[submodule "tests/vagrant-ldap"]
	path = tests/vagrant-ldap
	url = https://github.com/sepulworld/vagrant-ldap
